<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<table class="table table-bordered">
        <tr>
          <th> Total Product</th>
          <th> Total Category</th>
        </tr>
        <tr>
        <td><%= @total_products %></td>
        <td><%= @total_categories %></td>
        </tr>
      </tbody>
      </table>
